.c-app{
    background-color: $color-primary;
    padding: 60px 0px;

    .item{
        padding:0px 8px;
        @include md{
            padding-right: 0px;
        }
    }

    .app{
        &-title{
            font-size: 52px;
            text-align: center;
            color: #fff;
            font-weight: 700;
            padding-bottom: 0px;
            margin-bottom: 0px;
            line-height: 3.5rem;
        }
        &-bottomtitle{
            font-size: 16px;
            font-weight: 350;
            padding-bottom: 32px;
            color: #fff;
            text-align: center;
        }
        &-card{
            border-radius: 5px;
            border: 1px solid #4B4B4B;
            background: rgba(37, 37, 37, 0.46);
            width: 180px;
            height: 180px;
            padding: 0px 20px;
            border-radius:5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        &-name{
            text-align: center;
            line-height: 1.2rem;
            color:$color-third;
            padding-top: 8px;
        }
        &-icon{
            display: flex;
            justify-content: center;
            padding-top: 60px;
        }
        &-box{
            border: 1px solid #00DF5E;
            width: 150px;
            height: 60px;
            margin: 0px 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
        }
    }
    .item{
        display: flex !important;
        justify-content: center;
    }

}