@mixin md{
    @media (min-width: 1200px) { @content; }
}

.c-forms{
    background-color: $color-primary;
    padding: 60px 0px;
    .forms{
       &-box-cadastre{
        background-color: #161616;
        min-height: 300px;
        padding: 0px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include md{  
            min-height: 400px;
            padding: 0px 120px;
            background-color: #3A3A3A;
        }
        }
        &-title{
            color: $color-third;
            font-size: 30px;
            font-weight: 600;
            padding-bottom: 16px;
            text-align: center;

            @include md{
                text-align: start;
            }
        }
        &-describe{
            color: #fff;
            text-align: center;
            font-size: 18px;

            @include md{
                text-align: justify;
            }
        }
        &-box-preencha{
            background-color: #161616;
            padding: 20px 20px 60px 20px;
            display: flex;
            align-items: center;

            @include md{
                padding: 0px 120px;
            }
        }
        &-input__text{
            margin-bottom: 24px;

            &:last-child{
                margin-bottom: 0px;
            }

            input{
                background: none;
                border: none;
                border-bottom: 1px #939393 solid;   
            }
            select{
                background: none;
                border: 1px solid  #939393;
                color: #939393;
            }
        }
        &-input__send{
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top:16px;

            button{
                background-color: #00DF5E;
                font-size: 20px;
                color: #000;
                font-weight: 700;
                border: none;
                width: 90%;
                height: 40px;
            }
        }
    }
    .text-checkbox{
        color: #939393;
        margin-left: 8px;

        a{
            color:#939393;
            text-decoration:underline;
        }
    }
}